<h1>Cadastro de destino</h1>
<br><br>
<form action="/add-destino" method="POST">
    <label>Nome</label>
    <input type="text" name="nome">
    <br><br>
    <label>Sigla</label>
    <input type="text" name="sigla">
    <br><br>
    <button type="submit">Cadastrar</button>
    <a href="/dashboard-admin">Voltar</a>
</form>