<h1>Cadastro de veículo</h1>
<br><br>
<form action="/add-veiculo" method="POST">
    <label>Descrição</label>
    <input type="text" name="descricao">
    <br><br>
    <label>Ocupação máxima</label>
    <input type="text" name="ocupacao_max">
    <br><br>
    <button type="submit">Cadastrar</button>
    <a href="/dashboard-admin">Voltar</a>
</form>