<h1>Solicitação de traslado</h1>
<br><br>
<form action="/add-solicitacao" method="POST">
    <label>Login do aluno</label>
    <input type="text" name="usuarioId">
    <br><br>
    <label>Data desejada</label>
    <input type="date" name="data">
    <br><br>
    <label>Turno desejado</label>
    <select name="turno">
        <option value="M">Manhã</option>
        <option value="T">Tarde</option>
        <option value="N">Noite</option>
    </select>
    <br><br>
    <label>ID do destino</label>
    <input type="text" name="destinoId">
    <br><br>
    <label>ID do veículo</label>
    <input type="text" name="veiculoId">
    <br><br>
    <button type="submit">Confirmar</button>
    <br><br>
    <a href="/dashboard-aluno">Voltar</a>
</form>
