<div class="form">
    <h1>Dashboard do administrador</h1>
    <br><br>
    <a href="/cad-usuario">Cadastrar usuário</a>
    <br><br>
    <a href="/cad-veiculo">Cadastrar veículo</a>
    <br><br>
    <a href="/cad-destino">Cadastrar destino</a>
    <br><br>
    <a href="/">Início</a>
</div>