<section class="box">
    <div class="design">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="form">
        <h1>Dashboard do aluno</h1>
        <br><br>
        <a href="/sol-translado">Solicitar traslado</a>
        <br><br>
        <a href="/">Início</a>
    </div>
</section>