<h1>Login dos alunos</h1>
<br><br>
<form action="/log-aluno" method="POST">
    <label>Login</label>
    <input type="text" name="login">
    <br><br>
    <label>Senha</label>
    <input type="text" name="senha">
    <br><br>
    <button type="submit">Entrar</button>
    <br><br>
    <a href="/">Voltar</a>
</form>