{{!-- <section class="box">
    <div class="design">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="form">
        <h1>Solicitação de traslado</h1>
        <form action="/add-traslado" method="POST">
            <label>Data desejada</label>
            <input type="date" name="data">
            <br><br>
            <label>Turno desejado</label>
            <select name="turno">
                <option value="manha selected">Manhã</option>
                <option value="tarde">Tarde</option>
                <option value="noite">Noite</option>
            </select>
            <label>Destino desejado</label>
            <input type="text" name="destino_desejado">
            <br><br>
            <label>Veículo desejado</label>
            <input type="text" name="veiculo_desejado">
            <br><br>
            <button type="submit">Solicitar</button>
        </form>
    </div>
</section> --}}
teste